@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Color Emoji';
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

body {
  background-color: #161616;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

.font-noto {
  font-family: 'Noto Color Emoji', sans-serif;
}