@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.skeleton-block,
.skeleton-text {
  --skeleton-color: #212121;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  transition: all .3s ease;
}


::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

@font-face {
  font-family: 'Noto Color Emoji';
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

body {
  background-color: #161616;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

.font-noto {
  font-family: 'Noto Color Emoji', sans-serif;
}


.swiper-button-next {
  -webkit-mask: url(/icons/caret-right.svg) no-repeat 50% 50%;
  mask: url(/icons/caret-right.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  @apply right-0 !important;
}

.swiper-button-prev {
  -webkit-mask: url(/icons/caret-left.svg) no-repeat 50% 50%;
  mask: url(/icons/caret-left.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  @apply left-0 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @apply hidden !important;
}

.swiper-button-prev,
.swiper-button-next {
  @apply bg-white transition-all duration-300 w-10 h-10 rounded-md !important;
  
  background-size: 100% auto !important;
}

.swiper-button-disabled {
  @apply pointer-events-auto opacity-0 !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  @apply bg-accent text-white !important;
}

vds-media[autoplay-error] {
  opacity: 1;
}


@keyframes flash{
  0%, to { opacity: 1; }
  4% { opacity: 0; }
  6% { opacity: .6; }
  8% { opacity: .2; }
  10% { opacity: .9; }
}

@keyframes float{
  0%, 100% { transform: translate(-50%, -50%); }
  50% { transform: translate(-50%, -55%); }
}

.animation-flash { 
  animation: flash 3s infinite, float 4s infinite;
}

.slider-animation {
  animation: patternslide 30s infinite linear;
}

@keyframes patternslide {
  0% {
   background-position: 0px 0px;
  }
  100% {
    background-position: 871px 0; /* The image width */
  }
}

video {
  max-width: 100vw !important;
  max-height: 100vh !important;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #c5eb45;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #c5eb45, 0 0 5px #c5eb45;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #c5eb45;
  border-left-color: #c5eb45;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
