@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noto Color Emoji';
  src: url(https://raw.githack.com/googlefonts/noto-emoji/main/fonts/NotoColorEmoji.ttf);
}

body {
  background-color: #161616;
  color: #fff;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

.font-noto {
  font-family: 'Noto Color Emoji', sans-serif;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  transition: all .3s ease;
}

.swiper-button-next {
  -webkit-mask: url(/icons/caret-right.svg) no-repeat 50% 50%;
  mask: url(/icons/caret-right.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  @apply right-0 !important;
}

.swiper-button-prev {
  -webkit-mask: url(/icons/caret-left.svg) no-repeat 50% 50%;
  mask: url(/icons/caret-left.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  @apply left-0 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  @apply hidden !important;
}

.swiper-button-prev,
.swiper-button-next {
  @apply bg-white transition-all duration-300 w-10 h-10 rounded-md !important;
  
  background-size: 100% auto !important;
}

.swiper-button-disabled {
  @apply pointer-events-auto opacity-0 !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  @apply bg-accent text-white !important;
}
